
body{
    /* background-color: gray; */
  background: url('./images/bg.jpeg') no-repeat;

    
}
div{
    background-color: #ffffff;
}
/* 冗余css */
.a {
    color: black;
    font-size: 14px;
    background: red;
}
